@font-face {
    font-family: 'Arial';
    src: url(../fonts/Arial/Arial.ttf);
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url(../fonts/roboto/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica/HelveticaBold/);
}

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica/HelveticaMedium/);
}

@font-face {
    font-family: '';
    src: url();
}

