@media(max-width:320px) {}

@media(max-width:576px) {}

@media(max-width:768px) {}

@media(max-width:992px) {
    .logo {
        font-size: 60px;
        font-family: 'Helvetica';
        text-transform: uppercase;
        display: block;
        text-align: center;
        font-weight: 700;
    }

    header .navbar-toggler {
        background: black;
        color: white;
        padding: 20px;
    }

    header nav ul {
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    header nav ul li {
        margin: 0;
    }

    .navbar-toggler {
        position: relative;
    }

    .navbar-toggler i {
        position: absolute;
        right: 20px;
        transition: 2s;
        font-size: 20px;
    }

    .navbar-toggler[aria-expanded="true"] .open_icon {
        opacity: 0;
    }

    .navbar-toggler[aria-expanded="false"] .close_icon {
        opacity: 0;
    }

    .nav_card {
        width: 100%;
        margin: 0;
    }

    .slider_content {
        justify-content: center;
    }

    .slider_desc h1{
        font-size: 50px; 
        margin: 20px 0;       
    }

    .main_social{
        padding: 20px 0;
    }

    .main_social form{
        margin-bottom: 20px;
    }

    .main_social input{
        border-radius: 7px 0 0 7px;
    }
}

@media(max-width:400px) {
    .logo{
        font-size: 45px;
    }
}

@media(max-width:1200px) {}